body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/images/background-graphics/landing_background_underwater.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional: keeps it in place when scrolling */
  }


/*------- landing page container ------*/
.landing-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0vh;
    z-index: 1;
    flex-direction: column;
}

/*------- Logo ------*/
.logo{
    width: 60vw;
    margin: 3rem;
    justify-content: center;
    z-index: 1;
}

/*---Landing Page Octopus-------*/
.landing-page-button{
    position: relative;
    display: inline-block;
    text-align: center;
}

.landing-page__octopus{
    width: 10rem;
    position: absolute;
    top: 55vh; /* adjust as needed */
    left: 60vw;
    transform: translateX(-50%);
    }

/*------- Starting button ------*/
.play-game__button{
    width: 30vw;
    height: 10vh;
    margin: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
    background-color: #94DAFF;
    border-radius: 50px;
    border:none;
    color: #FFF;
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.shadow-button {
    box-shadow:
      2px 2px 8px rgba(0, 0, 0, 0.4),
      inset 1px 1px 4px rgba(0,0,0, 0.5);
}

.play-game__button:hover{
    background-color: #299FFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
